<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block headlinks %}{% endblock %}
    <title>{% block title %}{% endblock %} - A&#179; Menu System</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash">
        <ul>
          {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endwith %}
{% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      <!-- &copy; Copyright 2017 by <a href="http://anthonyattard.com/">Anthony Attard</a>. -->
      {% endblock %}
    </div>
  </body>
</html>